리스트자료형

In [8]:
a=[1,2,3,4,5]
b=[1,2,3,'a','b']
c=1
d='abcd'
e=[1,2,['a','b',[5,6]]]

In [10]:
a[0]

1

In [11]:
a[-2]

4

In [12]:
d[0]

'a'

In [13]:
e[2][1]

'b'

In [15]:
e[2][2][1]

6

리스트의 연산 및 연산

In [18]:
a.append('a')
a

[1, 2, 3, 4, 5, 'a', 'a', 'a']

In [20]:
sorted(a)

TypeError: '<' not supported between instances of 'str' and 'int'

In [21]:
a=[1,2,3,4,5]
sorted(a)

[1, 2, 3, 4, 5]

In [35]:
a=['abc','acb','b']
sorted(a)

['abc', 'acb', 'b']

In [36]:
a.insert(3,6)
a

['abc', 'acb', 'b', 6]

튜플자료형
- 리스트 자료형과 다른점: 수정불가 (수정이 되면 안되는 데이터 입력 시 사용)

In [40]:
b=(1,2,3,4,5)

In [41]:
b[0]

1

In [42]:
b[3:]

(4, 5)

In [43]:
b[0] + 3

4

In [44]:
b[0:3] + 3

TypeError: can only concatenate tuple (not "int") to tuple

딕셔너리

In [46]:
a = {'a':3,'b':2}
a['b']

2

In [48]:
a.keys()

dict_keys(['a', 'b'])

In [49]:
a={'a':[1,2,3,4],'b':[5,6,7,8]}

In [50]:
a['b'][2]

7

In [51]:
a.values()

dict_values([[1, 2, 3, 4], [5, 6, 7, 8]])

흐름제어문
- if 조건 :
     실행문
- for 변수 in 목록 :
     실행문
- while 조건 :
     실행문

In [55]:
a = 4
if a % 2 == 0 :
    print(a,"는 짝수")

4 는 짝수

In [57]:
a = [1,2,3,4,5,6,7,8,9]
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9

In [59]:
for i in a[1:]:
    print("---[" + str(i) +"단]---")
    for j in a:
        print(i,"x",j,"=",i*j)

---[2단]---
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
---[3단]---
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
---[4단]---
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
---[5단]---
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
---[6단]---
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
---[7단]---
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
---[8단]---
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
---[9단]---
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [96]:
range(10)

range(0, 10)

In [97]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
a=0
b=1
while b < 50:
    print(b)
    a,b = b,a+b

1
1
2
3
5
8
13
21
34

Packing & Unpacking

In [69]:
a,b = 'ab'

In [70]:
a

'a'

In [71]:
b

'b'

In [72]:
a,b='abc'
a

ValueError: too many values to unpack (expected 2)

for 문장 List에 삽입

In [74]:
a = [1,2,3,4]
result = [num*3 for num in a]
result

[3, 6, 9, 12]

In [77]:
a = [1,2,3,4]
result = \
[num*3 for num in a if num%2 ==0]
result

[6, 12]

함수

In [80]:
def sum(a,b):
    return a+b

In [81]:
sum(2,3)

5

입력

In [82]:
a= input()

2

In [92]:
a = input("숫자를 입력하시오")

숫자를 입력하시오24

In [93]:
a #문자열로 값을 받음

'24'

In [94]:
int(a)

24

In [95]:
int(input('숫자를 입력하세요.\n'))

숫자를 입력하세요.
24

24

In [ ]:
for i in range(1,1001):

In [120]:
a=10
str(a)
type(str(a))

str

In [121]:
arr[9];

NameError: name 'arr' is not defined

In [126]:
arr = [0,0,0,0,0,0,0,0,0];
for i in range(1,101):
    a = int(i/100) ;
    b = int((i%100)/10);
    c = int((i%100)%10); 
    for j in range (1,10):
        if(a==j or b==j or c==j):
            arr[j-1]+=1;            
    #print(a,b,c)

In [127]:
arr

[20, 19, 19, 19, 19, 19, 19, 19, 19]

In [128]:
arr = [0,0,0,0,0,0,0,0,0];
for i in range(1,1001):
    a = int(i/1000)
    b = int((i%1000)/100) ;
    c = int(((i%1000)%100)/10);
    d = int(((i%1000)%100)%10); 
    for j in range (1,10):
        if(a==j or b==j or c==j or d==j):
            arr[j-1]+=1;

In [129]:
arr

[272, 271, 271, 271, 271, 271, 271, 271, 271]

In [130]:
tmp = [0,0,0,0,0,0,0,0,0,0]
for i in range(1,1001):
    for j in str(i):
        tmp[int(j)] = tmp[int(j)] + 1
        
for i in range(10):
    print(i,':',tmp[i],"개")

0 : 192 개
1 : 301 개
2 : 300 개
3 : 300 개
4 : 300 개
5 : 300 개
6 : 300 개
7 : 300 개
8 : 300 개
9 : 300 개

class

In [147]:
class FourCal:
    def setdata(self,first,second):
        self.first = first
        self.second = second
        
    def sum(self):
        result = self.first + self.second
        return result

In [148]:
a = FourCal()
a.setdata(4,2)

In [150]:
a.sum()

6

In [152]:
FourCal.setdata(a,5,3)
a.sum()

8

예외구문


try: ...

except 발생오류 as : 오류메세지

In [153]:
3/0

ZeroDivisionError: division by zero

In [154]:
try:
    3/0
except:
    print('error')

error

In [155]:
a = [1,2,3]
try:
    a[4]
except ZeroDivisionError: #Error를 명시함으로서 처리안됨
    print('error')

IndexError: list index out of range

In [159]:
a = [1,2,3]
try:
    a[4]
except IndexError as error:
    print(error)
else: #에러가 나지않는다면 실행
    a[0] + 1

list index out of range

In [160]:
a = [1,2,3]
try:
    print(a[2]+3)
except IndexError as error:
    print(error)
else: #에러가 나지않는다면 실행
    print(a[0] + 1)
finally:
    print(a[1] + 1)

6
2
3

try:

    a=open('c:/test.txt')    
    작업
finally:

    a.close()

파일 읽고 쓰기

In [163]:
f=open("D:/test.txt","w")

In [164]:
f.write("test")
f.close

In [165]:
f=open("D:/foo.txt","w")
for i in range(1,11):
    data="%d번째 줄입니다.\n" %i
    f.write(data)
    print(data)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [167]:
f= open("D:/foo.txt","r")
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [170]:
f= open("D:/foo.txt","r")
data = f.read()
f.close()

a = data.splitlines()
a

['1번째 줄입니다.',
 '2번째 줄입니다.',
 '3번째 줄입니다.',
 '4번째 줄입니다.',
 '5번째 줄입니다.',
 '6번째 줄입니다.',
 '7번째 줄입니다.',
 '8번째 줄입니다.',
 '9번째 줄입니다.',
 '10번째 줄입니다.']

모듈 or 패키지

In [173]:
import sys

In [174]:
sys.path

['',
 'C:\\Users\\admin\\Anaconda3\\python36.zip',
 'C:\\Users\\admin\\Anaconda3\\DLLs',
 'C:\\Users\\admin\\Anaconda3\\lib',
 'C:\\Users\\admin\\Anaconda3',
 'C:\\Users\\admin\\Anaconda3\\lib\\site-packages',
 'C:\\Users\\admin\\Anaconda3\\lib\\site-packages\\Sphinx-1.5.6-py3.6.egg',
 'C:\\Users\\admin\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\admin\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\admin\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\admin\\Anaconda3\\lib\\site-packages\\setuptools-27.2.0-py3.6.egg',
 'C:\\Users\\admin\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\admin\\.ipython']

lambda

In [175]:
add = lambda a,b: a+b
add(5,6)

11

In [176]:
myList = [lambda a,b: a+b, lambda a,b: a*b]

In [178]:
myList[0](3,4)

7

In [179]:
myList[1](3,4)

12

내장함수

In [180]:
if True:
    print('aa')

aa

In [183]:
for i,name in enumerate(['a','b']):
    print(i,name)

0 a
1 b

In [185]:
eval('1+2') #단독으로 사용하기 보단 결과값을 넘겨줄 때 사용

3

In [187]:
def positive(x):
    return x>0

a = filter(positive, [1,-3,2,0,-5,6])
list(a)

[1, 2, 6]

In [189]:
len('python')

6

In [191]:
test = [1,3,4,8,12,15,20]

pair = list(zip(test[0:],test[1:]))

result = list(range(len(pair)))
for i in range(len(pair)):
    result[i] = pair[i][1] - pair[i][0]

pair[result.index(min(result))]

(3, 4)

In [194]:
test = [1,3,4,8,12,15,20]
list(zip(test[0:],test[1:]))

[(1, 3), (3, 4), (4, 8), (8, 12), (12, 15), (15, 20)]

In [195]:
list(range(len(pair)))

[0, 1, 2, 3, 4, 5]